<div class="d-flex justify-content-end mt-4 mb-4">
  <app-add-modal></app-add-modal>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th *ngFor="let item of (entities$|async)[0] | keyvalue : originalOrder">
      <ng-container *ngIf="item.key !== 'id'">
        {{item.key}}
      </ng-container>
    </th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let entity of entities$|async| slice:(page - 1) * pageSize:(page - 1) * pageSize + pageSize; let i = index">
    <th>{{i + 1}}</th>
    <td *ngFor="let item of entity|keyvalue : originalOrder">
      <ng-container *ngIf="item.key !== 'id'">
        <app-edit-cell [(ngModel)]="item.value" [_value]="item.value" [col]="item.key"
                       [entityId]="entity.id"></app-edit-cell>
      </ng-container>
    </td>
    <td>
      <app-edit-modal id="{{entity.id}}"></app-edit-modal>
    </td>
    <td>
      <button type="button" class="btn btn-sm btn-danger" (click)="deleteEntity(entity.id)">DEL</button>
    </td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="(entities$|async).length"
                  [maxSize]="10"
                  [rotate]="true"
                  [ellipses]="false"
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [boundaryLinks]="true">
  </ngb-pagination>
</div>

<div class="d-flex justify-content-center mt-2">
  <button class="btn btn-sm btn-primary" (click)="uploadToTextFile()">Сохранить в текстовом формате</button>
  <button class="btn btn-sm btn-primary ml-4" (click)="uploadToCSVFile()">Сохранить в формате CSV</button>
  <button class="btn btn-sm btn-success ml-4" (click)="uploadToTextArea()">Выгрузить</button>
</div>

