<h1 class="m-2">Введите данные в json-формате:</h1>
<div class="textAreaContainer mt-2" *ngIf="(errorMsg$ | async).length">
  <textarea #textarea  cols="100" rows="10" class="textArea--error" *ngIf="(isUploadToTextArea$ | async)">{{jsonEntities$ | async }}</textarea>
  <textarea #textarea cols="100" rows="10" class="textArea--error" *ngIf="!(isUploadToTextArea$ | async)"></textarea>
</div>
<div class="textAreaContainer mt-2" *ngIf="!(errorMsg$ | async).length">
  <textarea #textarea cols="100" rows="10" *ngIf="(isUploadToTextArea$ | async)">{{jsonEntities$ | async }}</textarea>
  <textarea #textarea cols="100" rows="10" *ngIf="!(isUploadToTextArea$ | async)"></textarea>
</div>
<div class="errorContainer">
  <span class="error" *ngIf="(errorMsg$ | async).length">{{(errorMsg$ | async)}}</span>
</div>
<div class="d-flex justify-content-center mt-2">
  <div>
    <label class="btn btn-sm btn-secondary" for="fileTXT">Загрузить текстовый файл</label>
    <input type="file" class="invisible"  id="fileTXT" (change)="readTextFile($event)">
  </div>
  <div class="ml-4">
    <label class="btn btn-sm btn-secondary" for="fileCSV">Загрузить csv файл</label>
    <input type="file" class="invisible"  id="fileCSV" (change)="readCSVFile($event)">
  </div>
  <button class="btn btn-sm btn-success ml-4" (click)="openTableBlock()">Продолжить</button>
</div>
